<div class="row">
	<div class="col-md-12">
		<div class="col-md-12">
			<h3>Mein Konto</h3>
		</div>
		<div class="col-md-12">Hallo ${user.firstName} ${user.lastName}! Hier können Sie Ihre Bestellungen verfolgen:</div>
		<div class="col-md-12"><br /><br /></div>
	</div>
	
	<div class="col-md-12">
		<div class="col-md-12">
			<h4>Mein Bestellungen</h4>
		</div>
		<table class="table">
			<tr>
				<th>Datum</th>
				<th>Nummer</th>
				<th>Lieferung</th>
				<th>Zahlung</th>
				<th>Status</th>
				<th>Anhang</th>
			</tr>
			<#list invoices as invoice>
				<tr>
					<td><@dateFormat date=invoice.dateTime /></td>
					<td>${invoice.number}</td>
					<td>${invoice.shipping}</td>
					<td>${invoice.payment}</td>
					<td>${invoice.status}</td>
					<td>
						<a href="InvoiceDownloadController?invoice=${invoice.uid}" target="_blank">Rechnung</a><br />
						<#list invoice.items as invoiceItem>
			  				<#list invoiceItem.options as option>
				  				<#if option.special??>
				  					<#if option.special != "">
					  					<a href="${option.special}" class="fancybox">
				  							Eigenes Design ${invoiceItem_index + 1}<br />
				  						</a>
			  						</#if>
				  				</#if>
			  				</#list>
			  			</#list>
					</td>
				</tr>
			</#list>
		</table>
	</div>
	
	<div class="col-md-12">
		<div class="col-md-12">
			<!--  <h4>Ihr Sonderangebot</h4> -->
		</div>
	</div>
	
</div>