<div class="row">
	
	<div class="col-md-12">
		<div class="col-md-12">

<br clear="all"/><span class="h1"><b>Allgemeine Gesch&auml;ftsbedingungen</b></span><br clear="all"/><br clear="all"/>

Die nachfolgenden Bedingungen regeln die Vergabe und den Inhalt von Einzelauftr&auml;gen der Amazon.de GmbH, Amazon Distribution GmbH, Amazon FC Graben GmbH, Amazon Fulfillment Germany, Amazon Koblenz GmbH, Amazon Logistik GmbH, Amazon Pforzheim GmbH (nachfolgend einheitlich &#8222;Amazon&#8220; genannt) an Unternehmen, die mit der Vermittlung von Bewerbern zur Festanstellung befasst sind (nachfolgend &#8222;Auftragnehmer&#8220; genannt). Diese Bedingungen begr&uuml;nden weder selbst einen Auftrag zur Vermittlung von Bewerbern zur Festanstellung noch wird Amazon durch diese Bedingungen verpflichtet, Einzelauftr&auml;ge zu erteilen. Im Falle einer Beauftragung durch Amazon zur Vermittlung von Bewerbern zur Festanstellung gelten in Erg&auml;nzung zum jeweiligen Einzelauftrag ausschlie&szlig;lich diese Bedingungen. Entgegenstehende Allgemeine Gesch&auml;ftsbedingungen des Auftragnehmers werden von Amazon nicht anerkannt, es sei denn, es ist schriftlich etwas anderes vereinbart. Dies gilt auch wenn Amazon nicht ausdr&uuml;cklich widerspricht.
<br clear="all"/><br clear="all"/><b>I. Vertragsschluss &uuml;ber Einzelauftrag</b><br clear="all"/>

Amazon l&auml;sst dem Auftragnehmer ein Anforderungsprofil mit einer Beschreibung der zu besetzenden Stelle und der daf&uuml;r erforderlichen Qualifikation zukommen. Die &Uuml;bermittlung des Anforderungsprofils stellt das Vertragsangebot zum Abschluss eines entsprechenden Vertrages zur Vermittlung von geeigneten Bewerbern zur Festanstellung f&uuml;r die betreffende Stelle (nachfolgend &#8222;Einzelauftrag&#8220; genannt) dar.<br clear="all"/><br clear="all"/>
Der Auftragnehmer kann dieses Angebot durch entsprechende Erkl&auml;rung gegen&uuml;ber Amazon annehmen. Er muss unverz&uuml;glich erkl&auml;ren, falls er das Angebot nicht annehmen will.

<br clear="all"/><br clear="all"/><b>II. Allgemeine Pflichten des Auftragnehmers</b><br clear="all"/>
Soweit zwischen Amazon und dem Auftragnehmer ein Einzelauftrag wirksam zustande gekommen ist, kann der Auftragnehmer Amazon geeignete Bewerber f&uuml;r die betreffende Stelle vorschlagen. Der Vorschlag erfolgt durch die &Uuml;bermittlung eines oder mehrerer entsprechender Bewerberprofile mittels E-Mail an die Human Resources Abteilung von Amazon oder durch einen Upload des Bewerberprofils in die Bewerberdatenbank iCIMS/ART von Amazon.<br clear="all"/><br clear="all"/>
Dem Auftragnehmer bleibt es selbst &uuml;berlassen, in welcher Form er die Suche nach geeigneten Bewerbern gestaltet. Soweit in Absprache mit Amazon nicht etwas anderes bestimmt ist, kann der Auftragnehmer Bewerber auf eigene Kosten direkt, d.h. im Wege einer Datenbanksuche, durch Zeitungsinserate oder in anderer geeigneter Weise ansprechen. Hierbei ist ihm die Nutzung des Amazon Logos und/oder des Firmennamens von Amazon sowie des Original-Anforderungsprofils von Amazon (Stellenbeschreibung) nicht gestattet.
<br clear="all"/><br clear="all"/><b>a)</b> Die vom Auftragnehmer an Amazon zu &uuml;bermittelnden Bewerberprofile m&uuml;ssen beinhalten:<br clear="all"/>

 (i) Background-Checks der vorgeschlagenen Bewerbers, insbesondere &uuml;ber die bisherige Besch&auml;ftigung, Gr&uuml;nde f&uuml;r die Beendigung des vorherigen Arbeitsverh&auml;ltnisses und &#8211; soweit erforderlich &#8211; eine wirksame Arbeitsgenehmigung;<br clear="all"/>
 (ii) Lebenslauf; sowie<br clear="all"/>
 (iii) Nachweis, dass der Kandidat die erforderliche Qualifikation und Erfahrung mitbringt, die Amazon gem. dem Anforderungsprofil f&uuml;r die zu besetzende Stelle f&uuml;r erforderlich h&auml;lt (z.B. englische Sprachkenntnisse, Affinit&auml;t zum Internet, etc.).<br clear="all"/><b>b)</b> Vor der &Uuml;bermittlung eines Bewerberprofils an Amazon hat der Auftragnehmer sicherzustellen, <br clear="all"/>
 (i) dass der Bewerber Kenntnis dar&uuml;ber erlangt, dass die zu besetzende Stelle bei einer bestimmtem Gesellschaft von Amazon w&auml;re, soweit Amazon nicht etwas anderes bestimmt hat;<br clear="all"/>
 (ii) dass dem Bewerber das Anforderungsprofil bekannt ist; und <br clear="all"/>
 (iii) dass der Bewerber ein ernstzunehmendes Interesse an der Stelle hat und die Bewerbung fortf&uuml;hren m&ouml;chte.<br clear="all"/><b>c)</b> Ferner hat der Auftragnehmer sp&auml;testens bei der &Uuml;bermittlung des Bewerberprofils<br clear="all"/>
 (i) Amazon dar&uuml;ber aufzukl&auml;ren, ob der Bewerber sich bereits zuvor bei Amazon beworben hat, durch ein anderes Vermittlungsunternehmen vorgestellt worden ist oder sich derzeit in anderen Bewerbungsprozessen bei Amazon befindet;<br clear="all"/>
 (ii) Amazon dar&uuml;ber zu informieren, ob der Bewerber in der Vergangenheit bereits schon einmal bei Amazon angestellt war;<br clear="all"/>
 (iii) Amazon &uuml;ber etwaige Abweichungen vom Anforderungsprofil zu informieren; und<br clear="all"/>
 (iv) auf ausdr&uuml;ckliche Anforderung von Amazon zudem zwei aussagef&auml;hige Referenzadressen des Bewerbers anzugeben.


<br clear="all"/><br clear="all"/><b>III. Nutzung des Namens und/oder Logos von Amazon</b><br clear="all"/>
Der Auftragnehmer ist nicht berechtigt, den Firmennamen von Amazon und/oder das Logo von Amazon in einer Anzeige oder jedem anderen Medium, insbesondere im Internet, ohne vorherige ausdr&uuml;ckliche schriftliche Zustimmung von Amazon zu nutzen. Gleiches gilt f&uuml;r s&auml;mtliche Gespr&auml;che, die der Auftragnehmer im Rahmen eines Einzelauftrags mit Bewerbern f&uuml;hrt, es sei denn, Amazon hat ausdr&uuml;cklich um Nennung seines Namens gebeten. Die Bestimmung von Ziffer II. b) stellt eine solche Ausnahme dar, mit welcher Amazon um die ausdr&uuml;ckliche Nennung seines Namens gebeten hat.
<br clear="all"/><br clear="all"/><b>IV. Datenschutz</b><br clear="all"/>
Der Auftragnehmer hat jeden von ihm vorzuschlagenden Bewerber darauf hinzuweisen, dass Amazon die personenbezogenen Daten von Bewerbern in seiner Zentraldatenbank sichern und sie zu diesem Zweck an andere Gesellschaften der Amazon Unternehmensgruppe, darunter insbesondere die Amazon.com Inc. in den USA, &uuml;bermitteln wird. Amazon wird personenbezogene Daten von Bewerben nicht an Dritte au&szlig;erhalb der Amazon Unternehmensgruppe weitergeben. Durch die &Uuml;bermittlung eines Bewerberprofils an Amazon sichert der Auftragnehmer zu, dass er die Zustimmung des betreffenden Bewerbers zur Sicherung und &Uuml;bermittlung seiner personenbezogenen Daten durch Amazon gem. nachfolgend aufgef&uuml;hrtem Wortlaut eingeholt hat:<br clear="all"/><br clear="all"/><i>"Meine erhobenen personenbezogenen Daten dienen gem&auml;&szlig; &sect; 28 Abs. 1 Satz 1 Nr. 1 BDSG unmittelbar der Durchf&uuml;hrung und Abwicklung der aus einem etwaigen Anstellungsverh&auml;ltnis resultierenden Verpflichtungen. Ich erkl&auml;re deshalb meine Einwilligung, dass von mir erhobene personenbezogene Daten im Rahmen der Bewerbung von Amazon verarbeitet und genutzt werden k&ouml;nnen, auch soweit sie meine Gesundheit betreffen (&sect;&sect; 4, 4a BDSG), und dass meine erhobenen personenbezogenen Daten an eine Zentraldatenbank in den USA &uuml;bermittelt und dort verarbeitet und genutzt werden. Die Nutzung meiner personenbezogenen Daten erfolgt entsprechend den Regeln des Bundesdatenschutzgesetzes. Ich bin ferner damit einverstanden, dass meine personenbezogenen Daten von Amazon f&uuml;r zuk&uuml;nftig zu besetzende Stellen dauerhaft gespeichert werden."</i><br clear="all"/><br clear="all"/><b>V. Vertraulichkeitspflicht</b><br clear="all"/>Der Auftragnehmer ist verpflichtet, jegliche Informationen, die ihm im Zusammenhang mit der Vermittlung von Bewerbern an Amazon im Rahmen eines Einzelauftrages bekannt werden, sei es in Bezug auf Amazon oder eine andere Gesellschaft der Amazon Unternehmensgruppe, streng vertraulich zu behandeln und solche Informationen nicht ohne vorherige ausdr&uuml;ckliche Zustimmung von Amazon Dritten bekanntzugeben. und f&uuml;r eigene und/oder f&uuml;r Zwecke Dritter zu nutzen. Der Auftragnehmer haftet insoweit auch f&uuml;r seine Mitarbeiter und sonstigen Erf&uuml;llungsgehilfen.<br clear="all"/><br clear="all"/>Vertrauliche Informationen sind insbesondere die nachfolgend aufgef&uuml;hrten Beispiele, die sich jedoch nicht als abschlie&szlig;ende Aufz&auml;hlung verstehen: Namen, Adressen und Lebensl&auml;ufe von derzeitigen oder zuk&uuml;nftigen Mitarbeitern von Amazon oder von anderen Gesellschaften der Amazon Unternehmensgruppe; Identit&auml;ten und Positionen, die von Amazon oder einer anderen Gesellschaft der Amazon Unternehmensgruppe gehalten werden; Aufstellungen von Stellen, Stellentiteln und Amazon Job Levels, Mailinglisten oder Organisationscharts; Methoden oder Praktiken von Amazon oder anderen Gesellschaften der Amazon Unternehmensgruppe, Mitarbeiter zu rekrutieren; alle nicht&ouml;ffentlichen Informationen in Bezug auf jegliche Produkte, Services, Forschung, Technologie, Kunden, Business Pl&auml;ne, Promotion- oder sonstige Werbeaktivit&auml;ten, Finanzen oder andere Gesch&auml;ftsangelegenheiten von Amazon oder einer anderen Gesellschaft der Amazon Unternehmensgruppe; jegliche andere Information, die Amazon oder eine andere Gesellschaft der Amazon Unternehmensgruppe von Dritter Seite erfahren hat und die sie verpflichtet ist, geheim zu halten.
<br clear="all"/>Diese Vertraulichkeitspflicht bleibt &uuml;ber die Beendigung des Einzelauftrages hinaus bestehen.

<br clear="all"/><br clear="all"/><b>VI. Kosten und Auslagen</b><br clear="all"/>Der Auftragnehmer wird ausschlie&szlig;lich alleine f&uuml;r s&auml;mtliche Kosten verantwortlich sein, die ihm im Zusammenhang mit Inseraten, Bewerbergespr&auml;chen oder sonstigen Aktionen im Zusammenhang mit einem Einzelauftrag entstehen.<br clear="all"/><br clear="all"/><b>VII. Pflichten von Amazon; Provision</b><br clear="all"/>Es steht im freien Ermessen von Amazon, einem vom Auftrag-nehmer vorgeschlagenen Bewerber ein Angebot zur Festanstellung zu unterbreiten, eine Pflicht zur Festanstellung eines vom Auftragnehmer vorgeschlagenen Bewerbers besteht nicht.<br clear="all"/><br clear="all"/>Amazon zahlt dem Auftragnehmer eine einmalige Provision nach Ma&szlig;gabe von Ziffer VIII., wenn (i) der Kandidat Amazon aufgrund eines Vorschlages des Auftragnehmers bekannt wurde, (ii) innerhalb von 6 Monaten nach der &Uuml;bermittlung des Bewerberprofils ein wirksamer Arbeitsvertrag zwischen dem vom Auftragnehmer vorgeschlagenen Bewerber und Amazon abgeschlossen wurde und (iii) der Bewerber seine vertragsgem&auml;&szlig;e Besch&auml;ftigung bei Amazon tats&auml;chlich aufgenommen hat.<br clear="all"/><br clear="all"/>Soweit nach Ablauf von 6 Monaten nach der &Uuml;bermittlung des Bewerberprofils durch den Auftragnehmer kein Arbeitsvertrag zwischen dem vom Auftragnehmer vorgeschlagenen Bewerber und Amazon abgeschlossen wurde, gilt der Bewerber ab diesem Zeitpunkt als nicht vom Auftragnehmer vorgeschlagen. Kommt erst nach Ablauf dieses Zeitraums ein Arbeitsvertrag zwischen dem Bewerber und Amazon zustande, besteht kein Anspruch des Auftragnehmers auf Provision.<br clear="all"/><br clear="all"/>Amazon bewahrt alle vom Auftragnehmer &uuml;bermittelten Bewerberprofile f&uuml;r mindestens 6 Monate auf.

		</div>
	</div>
	
</div>