<div class="row">
	<div class="col-md-12">
		<#if title??>
			<div class="col-md-12">
				<h3>${title}</h3>
			</div>
		</#if>
		<#if bodytext??>
			<div class="col-md-12">${bodytext}</div>
		</#if>
		<div class="row">
			<div class="col-md-6 refresh-message" style="display: none;">
				<div class="alert alert-success"><i>Warenkorb wurde aktualisiert</i></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 error-message" style="<#if notAvailable??><#else>display: none;</#if>">
				<div class="alert alert-danger">
					<i>
						Vom Produkt 
						&quot;<span class="cart_na_product_title"><#if notAvailable??>${notAvailable.title}</#if></span>&quot; sind maximal 
						<span class="cart_na_product_count"><#if notAvailable??>${notAvailable.stockCount}</#if></span>
						 Stück vergügbar
						<br />
						<a href="IndexController?event=catalog&category=4">Alternative anzeigen</a>
					 </i>
				 </div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 error-message" style="display: none;">
				alternative
			</div>
		</div>
		<#if (invoice.items?size > 0) >
			<table class="table">
				<thead>
					<tr>
						<th>Produkt</th>
						<th style="width: 75px;">Anzahl</th>
						<th style="width: 140px;">Preis pro Stück</th>
						<th style="width: 75px;"></th>
					</tr>
				</thead>
				<tbody>
			  		<#list invoice.items as invoiceItem>
			  			<tr class="cart-item">
				  			<td>
				  				<a href="IndexController?event=product&uid=${invoiceItem.product}">${invoiceItem.title}</a>
				  				<ul>
					  				<#list invoiceItem.options as option>
						  				<#if option.special??>
						  					<li><a href="${option.special}" class="fancybox">
						  							${option.title}
						  							<img src="${option.special}" style="max-width: 80px; max-height: 80px;" />
						  						</a>
						  					</li>
						  				<#else>
						  					<li>${option.title} <small>( <@priceFormat price=option.price /> )</small></li>
						  				</#if>
					  				</#list>
				  				</ul>
				  			</td>
				  			<td><input class="cart_amount form-control" data-invoiceItemIndex="${invoiceItem_index}" size="1" type="number" value="${invoiceItem.amount}" maxlength="2" min="1" max="99" required="required"></td>
				  			<td><span class="item-price hide">${invoiceItem.priceBase}</span><@priceFormat price=invoiceItem.priceBase /></td>
				  			<td><a href="IndexController?event=cart&remove=${invoiceItem_index}" title="Artikel entfernen" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-remove"></span></a></td>
				  		</tr>
			  		</#list>
		  		</tbody>
		  		<tfoot style="border-top: 3px solid #ddd;">
		  			<tr>
						<td></td>
						<td>Gesamt: </td>
						<td><span class="dynamic-total-price"><@priceFormat price=invoiceTotal /></span></td>
						<td></td>
					</tr>
		  		</tfoot>
		  	</table>
		  	<div class="caption-full col-md-9">
				<p class="pull-right">
					<a href="IndexController?event=checkout" class="btn btn-primary" >Zur Kasse gehen</a>
				</p>
			</div>
		<#else>
			<div class="col-md-6">
				<div class="alert alert-info"><i>Ihr Warenkorb ist noch leer!</i></div>
			</div>
	  	</#if>
	</div>
</div>