<#if category??>
<#else>
	<div class="row carousel-holder">
	    <div class="col-md-12">
	        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	            <ol class="carousel-indicators">
	                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	            </ol>
	            <div class="carousel-inner">
	                <div class="item active">
	                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
	                </div>
	                <div class="item">
	                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
	                </div>
	                <div class="item">
	                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
	                </div>
	            </div>
	            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
	                <span class="glyphicon glyphicon-chevron-left"></span>
	            </a>
	            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
	                <span class="glyphicon glyphicon-chevron-right"></span>
	            </a>
	        </div>
	    </div>
	</div>
</#if>

<div class="row">

	<#if category??>
		<ol class="breadcrumb">
		  <@breadcrump category=category.uid />
		</ol>
		<div class="col-md-12">
			<h3>${category.title}</h3>
		</div>
		<#else>
		<div class="col-md-12">
			<h3>${title}</h3>
		</div>
	</#if>
	
	<#if bodytext??>
		<div class="col-md-12">${bodytext}</div>
	</#if>
	
	<#if products??>
		<div class="isotope-filters">
			<#list filters?keys as key>
				<div class="isotope-filters-item">
					${attributes[key].title}: 
					<select class="selectpicker">
						<option value="">Alle</option>
				    	<#list filters[key] as filterObj>
				    		<option value=".${key}-${filterObj}">${filterObj}</option>
				    	</#list>
				    </select>
			    </div>
			</#list>
		</div>
		<div class="col-md-12 isotope-container">
			<#list products as product>
				<div style="padding-left: 8px; padding-right: 8px; width: 30%;" class="col-sm-4 col-lg-4 col-md-4 element <#list product.attributes as productAttribute> ${productAttribute.attribute.uid}-${productAttribute.value}</#list>">
				    <div class="thumbnail">
				    	<a class="image_link" href="IndexController?event=product&uid=${product.uid}">
					    	<#assign i = product.images?size>
		            		<#if (i > 0) >
		            			<img src="images/products/${product.images[0].url}" alt="">
		            			<#else>
					        	<img src="http://placehold.it/320x150" alt="">
					        </#if>
				        </a>
				        <div class="caption">
				            <h4 class="pull-right"><small>ab</small> <@priceFormat price=product.priceBase /></h4>
				            <h4><a href="IndexController?event=product&uid=${product.uid}">${product.title}</a>
				            </h4>
				            <p>${product.descriptionShort}</p>
				        </div>
				    </div>
				</div>
			</#list>
		</div>
	</#if>

</div>