<div class="row">
	<div class="col-md-12">
		<h3>${title}</h3>
	</div>
	<div class="col-md-6">
		<form action="IndexController?event=finisher" method="post" >
			<p>Bitte geben Sie Ihre Rechnungsdaten ein:<br /><br /></p>
			Vorname: <input type="text" name="firstName" class="form-control" value="${user.firstName}" placeholder="Vorname" required>
			Nachname: <input type="text" name="lastName" class="form-control" value="${user.lastName}" placeholder="Nachname" required>
			<br />
			Land:<br />
			<select class="selectpicker" name="country">
				<option>Deutschland</option>
				<option>Österreich</option>
				<option>Schweiz</option>
				<option>Frankreich</option>
		  	</select><br />
		  	Stadt:
			<input type="text" name="city" class="form-control" value="${user.city}" placeholder="Stadt" required>
			PLZ:
			<input type="text" name="zip" class="form-control" value="${user.zip}" placeholder="PLZ" required>
			Straße und Hausnummer:
			<input type="text" name="street" class="form-control" value="${user.street}" placeholder="Straße und Hausnummer" required>
			<br />
			<br />
			Versandmethode:<br />
			<select class="selectpicker" name="shipping">
				<option>DHL</option>
				<option>Hermes Versand</option>
				<option>UPS</option>
				<option>Selbstabholung</option>
		  	</select><br />
			<br />
			Bezahlmethode:<br />
			<select class="selectpicker" name="payment">
				<option>Überweisung</option>
				<option>Paypal</option>
				<option>Nachname</option>
		  	</select><br />
		  	<br />
		  	<br />
		  	<input type="submit" class="btn btn-primary" value="Kostenpflichtig bestellen" />
	  	</form>
	</div>
</div>