<div class="row">

    <div class="col-md-9">

		<ol class="breadcrumb">
		  <@breadcrump product=product.uid />
		</ol>
		
        <div class="thumbnail">
        
        	<#assign i = product.images?size>
			<#if (i > 0) >
	        	<div class="product_image_wrapper">
					<div id="product_images">
						<#list product.images as productImage>			 
							<a href="#" data-image="images/products/${productImage.url}" data-zoom-image="images/products/${productImage.url}">
							  <img id="img_01" src="images/products/${productImage.url}" />
							</a>
						</#list>
					</div>
					<img class="product_image" src="images/products/${product.images[0].url}" data-zoom-image="images/products/${product.images[0].url}" />
				</div>
			</#if>

            <div class="caption-full">
                <h4 class="pull-right"><small>ab</small> <@priceFormat price=product.priceBase /><br /><small>(inkl. 19% MwSt)</small></h4>
                <h4><a>${product.title}</a>
                </h4>
                <p>${product.descriptionShort}</p>
            </div>
            
            <form action="IndexController?event=cart" method="post">
            
	            <#assign i = product.attributes?size>
	            <#if i!=0>
		            <div class="panel panel-default" style="margin: 0 10px 30px 10px;">
		            	<div class="panel-heading">
					    	<h3 class="panel-title">Eigenschaften</h3>
					  	</div>
					  	<table class="table">
					  		<#list product.attributes as productAttribute>
					  			<tr>
						  			<td>${productAttribute.attribute.title}</td>
						  			<td>${productAttribute.value}</td>
						  		</tr>
					  		</#list>
					  	</table>
					</div>
				</#if>
			
				<#assign i = options?size>
            	<#if i!=0>
				
					<div class="panel panel-info" style="margin: 0 10px 0px 10px;">
		            	<div class="panel-heading">
					    	<h3 class="panel-title">Optionen</h3>
					  	</div>
					  	<table class="table">
					  		<#list options as option>
					  			<tr>
						  			<td>${option[0].attribute.title}</td>
						  			<td>
						  				<select class="selectpicker" data-show-subtext="true" name="option-${option[0].attribute.uid}">
						  					<#list option as optionItem>
						  						<option value="${optionItem.uid}" data-subtext=" +<@priceFormat price=optionItem.price />">${optionItem.value}</option>
						  					</#list>
									  	</select>
									</td>
						  		</tr>
					  		</#list>
					  	</table>
					</div>
				</#if>
				
				<div class="caption-full">
					<p class="pull-right">
						<input type="text" name="count" value="1" class="form-control" style="display: inline; width: 45px;" maxlength="2" />
						<input type="hidden" name="add-product" value="${product.uid}" />
						<input type="submit" value="In den Warenkorb" class="btn btn-primary" />
					</p>
					<p><small>Noch ${product.stockCount} Stück auf Lager</small><br /><br /><br /></p>
				</div>
			</form>
			
            <div class="ratings">
            	<#assign reviewCount = product.reviews?size>
                <p class="pull-right">${reviewCount} Bewertungen</p>
                <p>
	                <#if (reviewCount > 0)>
	                    <#list 1..product_avg as i>
							<span class="glyphicon glyphicon-star"></span>
						</#list>
						<#list 1..(5-product_avg) as i>
							<span class="glyphicon glyphicon-star-empty"></span>
						</#list>
	                    ${product_avg} stars
	                </#if>&nbsp;
	        	</p>
            </div>
        </div>

        <div class="well">

            <div class="text-right">
                <a class="btn btn-success show_review_form">Bewertung verfassen</a>
            </div>
            <div class="row" style="display: none;">
                <div class="col-md-12">
                    <form action="" method="post" class="review_form">
                    	<div class="col-md-3">Bewertung: </div>
                    	<div class="col-md-9">
	                    	<select class="selectpicker" name="rating">
	                    		<option value="0">0 Sterne</option>
	                    		<option value="1">1 Sterne</option>
	                    		<option value="2">2 Sterne</option>
	                    		<option value="3">3 Sterne</option>
	                    		<option value="4">4 Sterne</option>
	                    		<option value="5">5 Sterne</option>
	                    	</select>
                    	</div>
                    	<div class="col-md-3">Name: </div>
                    	<div class="col-md-9"><input name="name" class="form-control" type="text" autocomplete="off" required="required"><br /></div>
                    	<div class="col-md-3">Erfahrungsbericht: </div>
                    	<div class="col-md-9"><textarea name="review_text" class="form-control" required="required"></textarea><br /></div>
                    	<div class="text-right">
							<input type="submit" class="btn btn-success" value="Bewertung absenden" />
			            </div>
                    </form>
                </div>
            </div>
            
            <#list product.reviews as review>
	            <hr />
	            <div class="row">
	                <div class="col-md-12">	                    		
						<#list 1..review.rating as i>
							<span class="glyphicon glyphicon-star"></span>
						</#list>
						<#list 1..(5-review.rating) as i>
							<span class="glyphicon glyphicon-star-empty"></span>
						</#list>
	                    ${review.name}
	                    <span class="pull-right"><@dateFormat date=review.dateTime /></span>
	                    <p>${review.reviewText}</p>
	                </div>
	            </div>
            </#list>

        </div>
    </div>
</div>