body {
  padding-top: 70px
}

.slide-image {
  width: 100%;
}

.carousel-holder {
  margin-bottom: 30px;
}

.carousel-control,.item {
  border-radius: 4px;
}

.caption {
  height: 130px;
  overflow: hidden;
}

.caption h4 {
  white-space: nowrap;
}

.thumbnail img {
	max-width: 260px;
	max-height: 150px;
	width: auto;
}
.thumbnail a.image_link {
	height: 150px;
	display: block;
}

.ratings {
  color: #d17581;
  padding-left: 10px;
  padding-right: 10px;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

footer {
  margin: 50px 0;
}

.hide{
	display: none;
}

#product_images{
	float: right;
}
#product_images img {
	border: 2px solid white;
	width: 96px
}

.product_image, .zoomWrapper{
	width: auto !important;
	max-width: 500px !important;
	max-height: 250px !important;
	position: relative !important;
}
.product_image_wrapper{
	min-height: 260px;
	border-bottom: solid 1px #DDD;
	margin-bottom: 15px;
}

.ui-autocomplete-loading {
    background: white url('../images/jQueryUI/ui-anim_basic_16x16.gif') right center no-repeat;
}
.ui-autocomplete{
	z-index: 9999;
}


/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}


  
